<%- include("../partials/header") %>
<style>
	* {
	  box-sizing: border-box;
	}
	
	.column {
	  float: left;
	  width: 7.14%;
	  padding: 5px;
	}
	
	/* Clearfix (clear floats) */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	</style>
  <script> 
  function showDiv() {
		  if(i==10){ document.getElementById('welcomeDiv').style.display = "block";
		}else{
		  document.getElementById('welcomeDiv').style.display = "none"
  
		  }
	  }
		var i=0;
		{
	  var image_tracker='f';
	  function change3() {
		   var image = document.getElementById('social3');
	  if(image_tracker=='f'&& i<10){
	  image.src ="/uploads/tarot2.png";
	  image_tracker='t';
	  i=i+1;
	  }else{
		  ima.src ="assets/images/tarot.png"
		  image_tracker='f';
	  }
  }
  
	
	 
			var image_tracker1='f';
			function change22() {
				 var image = document.getElementById('social22');
			if(image_tracker1=='f'&& i<10){
			image.src ="/uploads/tarot2.png";
			image_tracker1='t';
			i=i+1;
			}else{
				ima.src ="assets/images/tarot.png"
				image_tracker1='f';
				
			}
		}
				  var image_tracker2='f';
				  function change1() {
					   var image = document.getElementById('social1');
				  if(image_tracker2=='f'&& i<10){
				  image.src ="/uploads/tarot2.png";
				  image_tracker2='t';
				  i=i+1;
				  }else{
					  ima.src ="assets/images/tarot.png"
					  image_tracker2='f';
				  }
			  }
			  
				 
						var image_tracker3='f';
						function change2() {
							 var image = document.getElementById('social2');
						if(image_tracker3=='f'&& i<10){
						image.src ="/uploads/tarot2.png";
						image_tracker3='t';
						i=i+1;
						}else{
							ima.src ="assets/images/tarot.png"
							image_tracker3='f';
						}
					}
					var image_tracker4='f';
					function change4() {
						 var image = document.getElementById('social4');
					if(image_tracker4=='f'&& i<10){
					image.src ="/uploads/tarot2.png";
					image_tracker4='t';
					i=i+1;
					}else{
						ima.src ="assets/images/tarot.png"
						image_tracker4='f';
					}
				}
				var image_tracker5='f';
				function change5() {
					 var image = document.getElementById('social5');
				if(image_tracker5=='f'&& i<10){
				image.src ="/uploads/tarot2.png";
				image_tracker5='t';
				i=i+1;
				}else{
					ima.src ="assets/images/tarot.png"
					image_tracker5='f';
				}
			}
			var image_tracker6='f';
			function change6() {
				 var image = document.getElementById('social6');
			if(image_tracker6=='f'&& i<10){
			image.src ="/uploads/tarot2.png";
			image_tracker6='t';
			i=i+1;
			}else{
				ima.src ="assets/images/tarot.png"
				image_tracker6='f';
			}
		}
		var image_tracker7='f';
		function change7() {
			 var image = document.getElementById('social7');
		if(image_tracker7=='f'&& i<10){
		image.src ="/uploads/tarot2.png";
		image_tracker7='t';
		i=i+1;
		}else{
			ima.src ="assets/images/tarot.png"
			image_tracker7='f';
		}
	}
	var image_tracker8='f';
	function change8() {
		 var image = document.getElementById('social8');
	if(image_tracker8=='f'&& i<10){
	image.src ="/uploads/tarot2.png";
	image_tracker8='t';
	i=i+1;
	}else{
		ima.src ="assets/images/tarot.png"
		image_tracker8='f';
	}
  }
  var image_tracker9='f';
  function change9() {
	   var image = document.getElementById('social9');
  if(image_tracker9=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker9='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker9='f';
  }
  }
  var image_tracker10='f';
  function change10() {
	   var image = document.getElementById('social10');
  if(image_tracker10=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker10='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker10='f';
  }
  }
  var image_tracker11='f';
  function chang11() {
	   var image = document.getElementById('social11');
  if(image_tracker11=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker11='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker11='f';
  }
  }
  var image_tracker12='f';
  function change12() {
	   var image = document.getElementById('social12');
  if(image_tracker12=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker12='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker12='f';
  }
  }
  var image_tracker13='f';
  function change13() {
	   var image = document.getElementById('social13');
  if(image_tracker13=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker13='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker13='f';
  }
  }
  var image_tracker14='f';
  function change14() {
	   var image = document.getElementById('social14');
  if(image_tracker14=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker14='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker14='f';
  }
  }
  var image_tracker15='f';
  function change15() {
	   var image = document.getElementById('social15');
  if(image_tracker15=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker15='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker15='f';
  }
  }
  var image_tracker16='f';
  function change16() {
	   var image = document.getElementById('social16');
  if(image_tracker16=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker16='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker16='f';
  }
  }
  var image_tracker17='f';
  function change17() {
	   var image = document.getElementById('social17');
  if(image_tracker17=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker17='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker17='f';
  }
  }
  var image_tracker18='f';
  function change18() {
	   var image = document.getElementById('social18');
  if(image_tracker18=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker18='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker18='f';
  }
  }
  var image_tracker19='f';
  function change19() {
	   var image = document.getElementById('social19');
  if(image_tracker19=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker19='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker19='f';
  }
  }
  var image_tracker20='f';
  function change20() {
	   var image = document.getElementById('social20');
  if(image_tracker20=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker20='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker20='f';
  }
  }
  var image_tracker21='f';
  function change21() {
	   var image = document.getElementById('social21');
  if(image_tracker21=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker21='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker21='f';
  }
  }
  var image_tracker26='f';
  function change23() {
	   var image = document.getElementById('social23');
  if(image_tracker26=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker26='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker26='f';
  }
  }
		}
		var image_tracker27='f';
  function change26() {
	   var image = document.getElementById('social26');
  if(image_tracker27=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker27='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker27='f';
  }
  }
  var image_tracker28='f';
  function change27() {
	   var image = document.getElementById('social27');
  if(image_tracker28=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker28='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker28='f';
  }
  }
  var image_tracker29='f';
  function change28() {
	   var image = document.getElementById('social28');
  if(image_tracker29=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker29='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker29='f';
  }
  }
  var image_tracker30='f';
  function change27() {
	   var image = document.getElementById('social27');
  if(image_tracker30=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker30='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker30='f';
  }
  }
  var image_tracker31='f';
  function change28() {
	   var image = document.getElementById('social28');
  if(image_tracker31=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker31='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker31='f';
  }
  }
  var image_tracker32='f';
  function change29() {
	   var image = document.getElementById('social29');
  if(image_tracker32=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker32='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker32='f';
  }
  }
  var image_tracker33='f';
  function change30() {
	   var image = document.getElementById('social30');
  if(image_tracker33=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker33='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker33='f';
  }
  }
  var image_tracker34='f';
  function change31() {
	   var image = document.getElementById('social31');
  if(image_tracker34=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker34='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker34='f';
  }
  }
  var image_tracker35='f';
  function change32() {
	   var image = document.getElementById('social32');
  if(image_tracker35=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker35='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker35='f';
  }
  }
  var image_tracker36='f';
  function change33() {
	   var image = document.getElementById('social33');
  if(image_tracker36=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker36='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker36='f';
  }
  }
  var image_tracker37='f';
  function change34() {
	   var image = document.getElementById('social34');
  if(image_tracker37=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker37='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker37='f';
  }
  }
  var image_tracker38='f';
  function change35() {
	   var image = document.getElementById('social35');
  if(image_tracker38=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker38='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker38='f';
  }
  }
  var image_tracker39='f';
  function change36() {
	   var image = document.getElementById('social36');
  if(image_tracker39=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker39='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker39='f';
  }
  }
  var image_tracker40='f';
  function change37() {
	   var image = document.getElementById('social37');
  if(image_tracker40=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker40='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker40='f';
  }
  }
  var image_tracker41='f';
  function change38() {
	   var image = document.getElementById('social38');
  if(image_tracker41=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker41='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker41='f';
  }
  }
  var image_tracker42='f';
  function change39() {
	   var image = document.getElementById('social39');
  if(image_tracker42=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker42='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker42='f';
  }
  }
  var image_tracker43='f';
  function change40() {
	   var image = document.getElementById('social40');
  if(image_tracker43=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker43='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker43='f';
  }
  }
  var image_tracker44='f';
  function change41() {
	   var image = document.getElementById('social41');
  if(image_tracker44=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker44='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker44='f';
  }
  }
  var image_tracker45='f';
  function change42() {
	   var image = document.getElementById('social42');
  if(image_tracker45=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker45='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker45='f';
  }
  }
  var image_tracker46='f';
  function change43() {
	   var image = document.getElementById('social43');
  if(image_tracker46=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker46='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker46='f';
  }
  }
  var image_tracker47='f';
  function change44() {
	   var image = document.getElementById('social44');
  if(image_tracker47=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker47='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker47='f';
  }
  }
  var image_tracker48='f';
  function change45() {
	   var image = document.getElementById('social45');
  if(image_tracker48=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker48='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker48='f';
  }
  }
  var image_tracker49='f';
  function change46() {
	   var image = document.getElementById('social46');
  if(image_tracker49=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker49='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker49='f';
  }
  }
  var image_tracker50='f';
  function change47() {
	   var image = document.getElementById('social47');
  if(image_tracker50=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker50='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker50='f';
  }
  }
  var image_tracker51='f';
  function change47() {
	   var image = document.getElementById('social47');
  if(image_tracker51=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker51='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker51='f';
  }
  }
  var image_tracker52='f';
  function change48() {
	   var image = document.getElementById('social48');
  if(image_tracker52=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker52='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker52='f';
  }
  }
  var image_tracker53='f';
  function change49() {
	   var image = document.getElementById('social49');
  if(image_tracker52=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker53='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker53='f';
  }
  }
  var image_tracker54='f';
  function change50() {
	   var image = document.getElementById('social50');
  if(image_tracker54=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker54='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker54='f';
  }
  }
  var image_tracker55='f';
  function change51() {
	   var image = document.getElementById('social51');
  if(image_tracker55=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker55='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker55='f';
  }
  }
  var image_tracker56='f';
  function change52() {
	   var image = document.getElementById('social52');
  if(image_tracker56=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker56='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker56='f';
  }
  }
  var image_tracker57='f';
  function change53() {
	   var image = document.getElementById('social53');
  if(image_tracker57=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker57='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker57='f';
  }
  }
  var image_tracker58='f';
  function change54() {
	   var image = document.getElementById('social54');
  if(image_tracker20=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker58='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker58='f';
  }
  }
  var image_tracker59='f';
  function change55() {
	   var image = document.getElementById('social55');
  if(image_tracker59=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker59='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker59='f';
  }
  }
  var image_tracker60='f';
  function change56() {
	   var image = document.getElementById('social56');
  if(image_tracker60=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker60='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker60='f';
  }
  }
  var image_tracker71='f';
  function change58() {
	   var image = document.getElementById('social58');
  if(image_tracker71=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker71='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker71='f';
  }
  }
  var image_tracker70='f';
  function change57() {
	   var image = document.getElementById('social57');
  if(image_tracker70=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker70='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker70='f';
  }
  }
  var image_tracker72='f';
  function change77() {
	   var image = document.getElementById('social77');
  if(image_tracker72=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker72='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker72='f';
  }
  }
  var image_tracker73='f';
  function change88() {
	   var image = document.getElementById('social88');
  if(image_tracker73=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker73='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker73='f';
  }
  }
    var image_tracker68='f';
  function change69() {
	   var image = document.getElementById('social69');
  if(image_tracker68=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker68='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker68='f';
  }
  }
  var image_tracker96='f';
  function change96() {
	   var image = document.getElementById('social96');
  if(image_tracker96=='f'&& i<10){
  image.src ="/uploads/tarot2.png";
  image_tracker96='t';
  i=i+1;
  }else{
	  ima.src ="assets/images/tarot.png"
	  image_tracker96='f';
  }
  }
  
  </script>
  <style>
	.aligncenter {
		text-align: center;
	}
	</style>
  <style>
  #animated{
	animation-name: move;
	animation-duration: 5s;
	nimation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	 cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;
	 }
	 </style>
	<style>.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
	0% {
	  opacity: .4;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes flash {
	0% {
	  opacity: .4;
	}
	100% {
	  opacity: 1;
	}
  }</style>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
  <div class="topnav" id="myTopnav">
	<a class="navbar-brand mu-logo" href="/fortune"><span>TEETEE FORTUNE</span></a>
	<a  href="/fortune">หน้าหลัก</a>
	<a href="/fortune/today">ดูดวงรายวัน</a>
	<a href="/fortune/rasee">ดูดวงราศี</a>
	<a href="/fortune/birthday">ดูดวงวันเกิด</a>
	<a href="/fortune/yipseeday">ดูดวงไพ่ยิปซีรายวัน</a>
	<a   href="/fortune/yipseelove">ดูดวงไพ่ยิปซีความรัก</a>
	<a class="active"  href="/fortune/yipseemonth">ดูดวงไพ่ยิปซีรายเดือน</a>
	
  
	
	<a href="/fortune/lottery">ทำนายฝัน</a>
  
	<% if(!currentUser) { %>
   <a style="float:right;"  href="/login" method = 'POST' tabindex="-1">เข้าสู่ระบบ</a>
	  <a  style="float:right;" href="/signup" method = 'POST' tabindex="-1">สมัครสมาชิก</a>
	  <% } else { %>
		<a   style="float:right;" href="/logout" tabindex="-1">ออกจากระบบ</a>
	  <a  style="float:right;" href="/fortune/<%= currentUser._id %>/Profile" tabindex="-1">โปรไฟล์</a>
	   
		  <% } %>  
	<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <div class='container' >
	<% if (error && error.length > 0) { %>
	  <div class="alert alert-danger" role="alert">
		<%= error %>
	  </div>
	<% } %>
  </div>
	<div id="mu-page-header">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-12">
					  <div class="mu-page-header-area">
			  <div style="text-align:center;">
			  <h4 class="mu-page-header-title">เลือกไพ่ 10 ใบ</h4>
			  <p></br></p>
			  <p>มาดูกันซิว่าดวงคุณวันนี้เป็นยังไงบ้าง ตั้งสมาธิให้มั่น แล้วใช้มือซ้าย เลือกไพ่มา 10 ใบ แล้วไพ่จะบอกสิ่งที่จะเกิดขึ้นในเดือนนี้ให้คุณทราบ</p>
			  
			  <a c href='/fortune/yipseemonth/show'>  
						  <div id="welcomeDiv"   style="display:none;" class="answer_list" ><button  id="animated" onclick="randomlinks()" class="btn btn--pill btn--green" type="submit">ดูคำทำนาย</button></div></a> 
			</div>
			</div>
				  </div>
			  </div>
		  </div>
	  </div> 
  
	<div id="mu-breadcrumb">
	  <div class="container">
		  <div class="row">
			  <div class="col-md-12">
				  <nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb mu-breadcrumb">
					 
					</ol>
				  </nav>
			  </div>
		  </div>
	  </div>
  </div>
  
  <div class="row">
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social1" onclick="change1();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social2" onclick="change2();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social3" onclick="change3();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social4" onclick="change4();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social5" onclick="change5();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social6" onclick="change6();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social7" onclick="change7();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social8" onclick="change8();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social9" onclick="change9();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social10" onclick="change10();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social96" onclick="change96();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social12" onclick="change12();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social13" onclick="change13();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social15" onclick="change15();showDiv()"  ></figure></a></div>
	  </div>
  </div>

  <div class="row">
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social16" onclick="change16();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social22" onclick="change22();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social17" onclick="change17();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social18" onclick="change18();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social19" onclick="change19();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social20" onclick="change20();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social21" onclick="change21();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social88" onclick="change88();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social77" onclick="change77();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social69" onclick="change69();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social26" onclick="change26();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social27" onclick="change27();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social28" onclick="change28();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social29" onclick="change29();showDiv()"  ></figure></a></div>
	  </div>
  </div>

  <div class="row">
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social30" onclick="change30();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social31" onclick="change31();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social32" onclick="change32();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social33" onclick="change33();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social34" onclick="change34();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social35" onclick="change35();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social36" onclick="change36();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social37" onclick="change37();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social38" onclick="change38();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social39" onclick="change39();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social40" onclick="change40();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social41" onclick="change41();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social42" onclick="change42();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social43" onclick="change43();showDiv()"  ></figure></a></div>
	  </div>
  </div>

  <div class="row">
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social44" onclick="change44();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social45" onclick="change45();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social47" onclick="change47();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social48" onclick="change48();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social49" onclick="change49();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social50" onclick="change50();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
	  <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social51" onclick="change51();showDiv()"  ></figure></a></div>
	</div>
	<div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social52" onclick="change52();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social53" onclick="change53();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social54" onclick="change54();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social55" onclick="change55();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social56" onclick="change56();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social57" onclick="change57();showDiv()"  ></figure></a></div>
	  </div>
	  <div class="column">
		<div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="150" height="150"id="social58" onclick="change58();showDiv()"  ></figure></a></div>
	  </div>
  </div>





<%- include("../partials/footer") %>