<%- include("../partials/header") %>
<style>
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 14.28%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
<script> 
function showDiv() {
        if(i==3){ document.getElementById('welcomeDiv').style.display = "block";
      }else{
        document.getElementById('welcomeDiv').style.display = "none"

        }
    }
      var i=0;
      {
    var image_tracker='f';
    function change3() {
         var image = document.getElementById('social3');
    if(image_tracker=='f'&& i<3){
    image.src ="/uploads/tarot2.png";
    image_tracker='t';
    i=i+1;
    }else{
        ima.src ="assets/images/tarot.png"
        image_tracker='f';
    }
}

  
   
          var image_tracker1='f';
          function change22() {
               var image = document.getElementById('social22');
          if(image_tracker1=='f'&& i<3){
          image.src ="/uploads/tarot2.png";
          image_tracker1='t';
          i=i+1;
          }else{
              ima.src ="assets/images/tarot.png"
              image_tracker1='f';
              
          }
      }
                var image_tracker2='f';
                function change1() {
                     var image = document.getElementById('social1');
                if(image_tracker2=='f'&& i<3){
                image.src ="/uploads/tarot2.png";
                image_tracker2='t';
                i=i+1;
                }else{
                    ima.src ="assets/images/tarot.png"
                    image_tracker2='f';
                }
            }
            
               
                      var image_tracker3='f';
                      function change2() {
                           var image = document.getElementById('social2');
                      if(image_tracker3=='f'&& i<3){
                      image.src ="/uploads/tarot2.png";
                      image_tracker3='t';
                      i=i+1;
                      }else{
                          ima.src ="assets/images/tarot.png"
                          image_tracker3='f';
                      }
                  }
                  var image_tracker4='f';
                  function change4() {
                       var image = document.getElementById('social4');
                  if(image_tracker4=='f'&& i<3){
                  image.src ="/uploads/tarot2.png";
                  image_tracker4='t';
                  i=i+1;
                  }else{
                      ima.src ="assets/images/tarot.png"
                      image_tracker4='f';
                  }
              }
              var image_tracker5='f';
              function change5() {
                   var image = document.getElementById('social5');
              if(image_tracker5=='f'&& i<3){
              image.src ="/uploads/tarot2.png";
              image_tracker5='t';
              i=i+1;
              }else{
                  ima.src ="assets/images/tarot.png"
                  image_tracker5='f';
              }
          }
          var image_tracker6='f';
          function change6() {
               var image = document.getElementById('social6');
          if(image_tracker6=='f'&& i<3){
          image.src ="/uploads/tarot2.png";
          image_tracker6='t';
          i=i+1;
          }else{
              ima.src ="assets/images/tarot.png"
              image_tracker6='f';
          }
      }
      var image_tracker7='f';
      function change7() {
           var image = document.getElementById('social7');
      if(image_tracker7=='f'&& i<3){
      image.src ="/uploads/tarot2.png";
      image_tracker7='t';
      i=i+1;
      }else{
          ima.src ="assets/images/tarot.png"
          image_tracker7='f';
      }
  }
  var image_tracker8='f';
  function change8() {
       var image = document.getElementById('social8');
  if(image_tracker8=='f'&& i<3){
  image.src ="/uploads/tarot2.png";
  image_tracker8='t';
  i=i+1;
  }else{
      ima.src ="assets/images/tarot.png"
      image_tracker8='f';
  }
}
var image_tracker9='f';
function change9() {
     var image = document.getElementById('social9');
if(image_tracker9=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker9='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker9='f';
}
}
var image_tracker10='f';
function change10() {
     var image = document.getElementById('social10');
if(image_tracker10=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker10='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker10='f';
}
}
var image_tracker11='f';
function chang11() {
     var image = document.getElementById('social11');
if(image_tracker11=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker11='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker11='f';
}
}
var image_tracker12='f';
function change12() {
     var image = document.getElementById('social12');
if(image_tracker12=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker12='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker12='f';
}
}
var image_tracker13='f';
function change13() {
     var image = document.getElementById('social13');
if(image_tracker13=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker13='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker13='f';
}
}
var image_tracker14='f';
function change14() {
     var image = document.getElementById('social14');
if(image_tracker14=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker14='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker14='f';
}
}
var image_tracker15='f';
function change15() {
     var image = document.getElementById('social15');
if(image_tracker15=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker15='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker15='f';
}
}
var image_tracker16='f';
function change16() {
     var image = document.getElementById('social16');
if(image_tracker16=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker16='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker16='f';
}
}
var image_tracker17='f';
function change17() {
     var image = document.getElementById('social17');
if(image_tracker17=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker17='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker17='f';
}
}
var image_tracker18='f';
function change18() {
     var image = document.getElementById('social18');
if(image_tracker18=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker18='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker18='f';
}
}
var image_tracker19='f';
function change19() {
     var image = document.getElementById('social19');
if(image_tracker19=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker19='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker19='f';
}
}
var image_tracker20='f';
function change20() {
     var image = document.getElementById('social20');
if(image_tracker20=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker20='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker20='f';
}
}
var image_tracker21='f';
function change21() {
     var image = document.getElementById('social21');
if(image_tracker21=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker21='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker21='f';
}
}
var image_tracker22='f';
function change22() {
     var image = document.getElementById('social22');
if(image_tracker22=='f'&& i<3){
image.src ="/uploads/tarot2.png";
image_tracker22='t';
i=i+1;
}else{
    ima.src ="assets/images/tarot.png"
    image_tracker22='f';
}
}
      }

</script>
<style>
  .aligncenter {
      text-align: center;
  }
  </style>
<style>
#animated{
  animation-name: move;
  animation-duration: 5s;
  nimation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
   cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;
   }
   </style>
  <style>.hover13 figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}</style>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<div class="topnav" id="myTopnav">
  <a class="navbar-brand mu-logo" href="/fortune"><span>TEETEE FORTUNE</span></a>
  <a  href="/fortune">หน้าหลัก</a>
  <a href="/fortune/today">ดูดวงรายวัน</a>
  <a href="/fortune/rasee">ดูดวงราศี</a>
  <a href="/fortune/birthday">ดูดวงวันเกิด</a>
  <a  href="/fortune/yipseeday">ดูดวงไพ่ยิปซีรายวัน</a>
  <a  class="active" href="/fortune/yipseelove">ดูดวงไพ่ยิปซีความรัก</a>
  <a href="/fortune/yipseemonth">ดูดวงไพ่ยิปซีรายเดือน</a>
  

  
  <a href="/fortune/lottery">ทำนายฝัน</a>

  <% if(!currentUser) { %>
 <a style="float:right;"  href="/login" method = 'POST' tabindex="-1">เข้าสู่ระบบ</a>
    <a  style="float:right;" href="/signup" method = 'POST' tabindex="-1">สมัครสมาชิก</a>
    <% } else { %>
      <a   style="float:right;" href="/logout" tabindex="-1">ออกจากระบบ</a>
    <a  style="float:right;" href="/fortune/<%= currentUser._id %>/Profile" tabindex="-1">โปรไฟล์</a>
     
        <% } %>  
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class='container' >
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
  <div id="mu-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-page-header-area">
            <div style="text-align:center;">
            <h1 class="mu-page-header-title">เลือกไพ่ 3 ใบ</h1>
            <p></br></p>
            <p>มาดูกันซิว่าดวงคุณวันนี้เป็นยังไงบ้าง ตั้งสมาธิให้มั่น แล้วใช้มือซ้าย เลือกไพ่มา 3 ใบ แล้วไพ่จะบอกสิ่งที่จะเกิดขึ้นในวันนี้ให้คุณทราบ</p>
            <p>คำเตือน ไพ่ยิปซีมีอำนาจลึกลับ จึงไม่ควรดูบ่อยเกินวันละ 1 ครั้ง</p>
            <a c href='/fortune/yipseelove/show'>  
						<div id="welcomeDiv"   style="display:none;" class="answer_list" ><button  id="animated" onclick="randomlinks()" class="btn btn--pill btn--green" type="submit">ดูคำทำนาย</button></div></a> 
          </div>
          </div>
				</div>
			</div>
		</div>
	</div> 

  <div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                  <ol class="breadcrumb mu-breadcrumb">
                   
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social1" onclick="change1();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social2" onclick="change2();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social3" onclick="change3();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social4" onclick="change4();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social5" onclick="change5();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social6" onclick="change6();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social7" onclick="change7();showDiv()"  ></figure></a></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social8" onclick="change8();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social9" onclick="change9();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social10" onclick="change10();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social22" onclick="change22();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social12" onclick="change12();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social13" onclick="change13();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social14" onclick="change14();showDiv()"  ></figure></a></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social15" onclick="change15();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social16" onclick="change16();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social17" onclick="change17();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social18" onclick="change18();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social19" onclick="change19();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social20" onclick="change20();showDiv()"  ></figure></a></div>
  </div>
  <div class="column">
    <div class="hover13"><a  id="animated"><figure><img border="0" alt="W3Schools" src="/uploads/tarot.png" width="200" height="200"id="social21" onclick="change21();showDiv()"  ></figure></a></div>
  </div>
</div>


<%- include("../partials/footer") %>